<div class="container"><br>
<h1>Here are your restaurants list</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <li><%= restaurant.address %></li>
  <% end %>
</ul>

<%= link_to 'Add a new restaurant', new_restaurant_path %>
</div>
